html {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}

body, #root, .container {
  min-height: 100%;
  min-width: 100%;
}

.row {
  justify-content: center;
  min-height: 100%;
}

.responsive1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Flag Card */

.card {
  width: 75%;
  margin: 1em;
  padding: 0em 0em 2em 0em;
  border-radius: 0.5em;
  border: none;
}

.card > img {
  border-radius: 0.5em 0.5em 0 0;
  border-bottom: 1px solid lightgray;
}

.card > h1 {
  margin: 0.75em 0 0.75em 0.9em;
  font-size: 1.5em;
  font-weight: 700;
  padding: 0em 1em 0 0em;
}

.card > p {
  margin: 0 0 0.5em 1.5em;
  padding: 0em 1em 0 0em;
}


.bold {
  font-weight: 500;
}
/* Filter Search */

.searchlabel {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2em 1em 2em 1em;
  border-radius: 0.5em;
  padding: 0 2.5em 0 2.5em;
}

.search-input{
  width: 80%;
  margin: 1em;
  border: none;
}

.search-input:focus {
  outline: none;
}

#searchicon {
  height: 1em;
}

/* Filter Region */

.selectarea {
  margin: 1em 1em 2em 1em;
  width: 80%;
}

.rselect {
  width: 12em;
  margin: 0;
  padding: 1em 1em 1em 1em;
  border: none;
  border-radius: 0.5em;
}

/* ColorSwitcher */

.colorswitcharea {
  display: flex;
  height: 5em;
  align-items: center;
  justify-content: space-between;
}

.header {
  font-size: 1em;
  font-weight: 700;
  margin-left: 1em;
}

.colorswitch {
  margin-right: 1em;
  border: none;
  height: 100%;
  font-weight: 500;
}

.buttonarea {
  display: flex;
  align-items: center;
}

.buttonarea > img {
  height: 1em;
}

/* Light mode */

.lightmode-bg {
 background-color:hsl(0, 0%, 98%);
 color: black;
}

.lightmode-element {
 background-color: hsl(0, 0%, 100%);
}

.lightmode-input {
  color: hsl(0, 0%, 52%);
}

/* darkmode */

.darkmode-bg {
  background-color: hsl(207, 26%, 17%);
  color: hsl(0, 0%, 100%);
 }

 .darkmode-element {
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
 }

 .darkmode-input {
   color: hsl(0, 0%, 52%);
 }

 /* Selected Country */

 .countryselect {
  width: 100%;
  min-height: 950px;
  padding: 3em 1.5em 0 1.5em;
 }

 .countryselect > div > img {
  width: 100%;
  margin: 0;
  padding: 0;
  border-radius: 0.5em 0.5em 0 0;
  border-bottom: 1px solid lightgray;
 }

.countryselect > div > h1 {
  margin: 0.75em 0 0.75em 0;
  font-size: 1.5em;
  font-weight: 700;
  padding: 0em 1em 0 0em;
}

.countryselect > div > p {
  margin: 0 0 0.5em 0;
  padding: 0em 1em 0 0em;
}

.borderbutton {
  border: none;
  border-radius: 0.25em;
  margin: 0.25em;
  padding: 0.5em 2em 0.5em 2em;
  width: 6em;
}

/* Backbutton */

.backbutton {
  width: 7.5em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.5em 1em 0.5em 1em;
  margin: 2em 0 1em 1em;
  border: none;
  border-radius: 0.25em;
}

.backbutton > img {
  height: 1em;
}

.backbuttonarea {
  display: flex;
}

@media screen and (min-width: 1024px) {

  .responsive1 {
    flex-direction: row;
    align-items: center;
  }

  .desktop-row2{
    margin: 0;
    padding: 0;
  }

  .card {
    margin: 1em;
    width: 12.5em;
    padding: 0 0 1em 0;
    height: 17.5em;
  }

  .card > h1 {
    margin: 0.25em 0 0.25em 0.25em;
    font-size: 1.5em;
    padding: 0;
  }

  .card > p {
    margin: 0 0 0 0.5em;
    padding: 0;
  }

  .searchlabel {
    width: 28em;
    margin: 2em 15em 2em 2em;
  }

  .selectarea {
    margin: 2em;
    width: 10em;
  }

  .header {
    margin-left: 4em;
  }

  .colorswitch {
    margin-right: 4em;
  }

  .countryselect {
    padding: 3em 1.5em 0 1.5em;
    display: flex;
    flex-direction: row;
   }

   .imgdivselected {
    width: 80%;
   }

   .contentdivselected {
    width: 100%;
    display: flex;
    flex-direction: column;
   }

   .content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   }

   .countryselect > div > img {
    width: 98%;
   }

  .content > div > h1 {
    margin: 0em 0em 0em 0.1em;
    padding: 0em;
    font-size: 2em;
  }

  .content > div > p {
    margin: 0 0 1em 0.5em;
    padding: 0;

  }

  .backbutton {
    margin: 4em 0 1em 1em;
  }

}

@media screen and (min-width: 1440px) {

  .card {
    margin: 2em;
    width: 18em;
    padding: 0 0 0 0;
    height: 22.5em;
  }

  .card > h1 {
    margin: 0.25em 0 0.25em 0.25em;
    font-size: 1.5em;
    padding: 0;
  }

  .card > p {
    margin: 0 0 0 0.5em;
    padding: 0;
  }

  .searchlabel {
    width: 28em;
    margin: 2em 15em 2em 2em;
  }

  .selectarea {
    margin: 2em;
    width: 10em;
  }

  .header {
    margin-left: 4em;
  }

  .colorswitch {
    margin-right: 4em;
  }

  .countryselect {
    padding: 3em 1.5em 0 1.5em;
    display: flex;
    flex-direction: row;
   }

   .imgdivselected {
    width: 80%;
   }

   .contentdivselected {
    width: 100%;
    display: flex;
    flex-direction: column;
   }

   .content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   }

   .countryselect > div > img {
    width: 98%;
   }

  .content > div > h1 {
    margin: 0em 0em 0em 1.25em;
    padding: 0em;
    font-size: 2em;
  }

  .content > div > p {
    margin: 0 0 1em 3em;
    padding: 0;

  }

  .backbutton {
    margin: 4em 0 1em 1em;
  }

  .borderarea {
    margin-left: 3em;
    margin-top: 10em;
  }

}